<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- General CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/modules/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/modules/fontawesome/css/all.min.css}"/>

    <!-- CSS Libraries -->
    <link rel="stylesheet" th:href="@{/assets/modules/jqvmap/dist/jqvmap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/modules/summernote/summernote-bs4.css}"/>
    <link rel="stylesheet" th:href="@{/assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css}"/>

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/components.css}"/>
    <!-- Start GA -->
    <div th:replace="components/script :: script"></div>
    <!-- /END GA --></head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <div th:replace="components/navbar :: navbar"></div>
        <div th:replace="components/sidebar :: sidebar"></div>

        <!-- Main Content -->
        <div class="main-content" layout:fragment="content">
        </div>

        <div th:replace="components/footer :: footer"></div>
    </div>
</div>

<!-- General JS Scripts -->
<script th:src="@{/assets/modules/jquery.min.js}"></script>
<script th:src="@{/assets/modules/popper.js}"></script>
<script th:src="@{/assets/modules/tooltip.js}"></script>
<script th:src="@{/assets/modules/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/modules/nicescroll/jquery.nicescroll.min.js}"></script>
<script th:src="@{/assets/modules/moment.min.js}"></script>
<script th:src="@{/assets/js/stisla.js}"></script>

<!-- JS Libraies -->
<script th:src="@{/assets/modules/jquery.sparkline.min.js}"></script>
<script th:src="@{/assets/modules/chart.min.js}"></script>
<script th:src="@{/assets/modules/owlcarousel2/dist/owl.carousel.min.js}"></script>
<script th:src="@{/assets/modules/summernote/summernote-bs4.js}"></script>
<script th:src="@{/assets/modules/chocolat/dist/js/jquery.chocolat.min.js}"></script>

<!-- Page Specific JS File -->
<script th:src="@{/assets/js/page/index.js}"></script>

<!-- Template JS File -->
<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>
</body>
</html>